# python
__pycache__/
.cache/
*.pyc

/.python-version
/build/
/dist/

/.eggs
*.egg-info/

# pytest
/.pytest_cache/

# editor
.vscode/

# data
/data/

# notebooks
.ipynb_checkpoints/
_*.ipynb
Untitled*.ipynb
